* {
	margin:0;
	padding:0;
}

html {
	height:100%;
	width:100%;
}
body {
	color: #fff;
	height:100%;
	width:100%;
}



.nav li a {

	color: #ffffff;
	font-size: 26px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	height: 50px;
}

.carousel-inner img {
	margin: auto;
	width: 100%;
	height: 80%;
  }

.jumbotron {
	height: 70vh;
	width: 90%;
	background-color: #242527;
}

.pagination li a{
	border: 1px solid #000000;
	background-color: #242527;
	color: #ffffff;
}

.testNav {
	width: 90%;
}

.profileNav, .adibooNav {
	width: 5%;
}

.carousel-control-prev {
	width: 4%;
}

.pagination>li.active>a{
	color: #868e96 !important;
	border: 1px solid #dee2e6 !important;
	border-radius: 3px;
	background: #ffffff !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (min-width: 768px) {
	.profile-menu .collapse {
		display: block;
	}
}
/* Global main views settings */
.mainView {
	padding: 48px;
}

/* Colors */
.tealBg {
	background-color: #1abc9c;
}

.lightGreyBg {
	background-color: #474e5d;
}

.darkGreyBg {
	background-color: #6e7178;
	opacity: 0.9;
}

/* Global pages look */
.pageWrapper {
	width: 100%;
	height: 100vh;
}

/* Global divs */
.div50height {
	position: relative;
    height: 50vh;
    width: 100%;
}

/* Global buttons */


/* Test buttons */
.testButton {
	width: 
}

/* profile buttons */
.profileButton {
	color: #fff;
	background-color: #8518f7;
	opacity: 0.8;
	cursor: pointer;
	display: block;
	position: relative;
	border-radius: 0px;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

.profile-button {
	background-color: #242527;
}
.profile-button:hover {
	color: #000 !important;
	background-color: #fff;
}
.history-button {
	background-color: #242527;
}
.history-button:hover {
	color: #000 !important;
	background-color: #fff;
}
.note-button {
	background-color: #242527;
}
.note-button:hover {
	color: #000 !important;
	background-color: #fff;
}
