/*** variables ***/
/* colors */
/*$edit-hover-button: $off-white1, $darker-grey, $black, $edit-hover-color;*/
/* width */
/*$border-width : 1px;*/
/*** mixins ***/
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  color: #fff;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', monospace; }

/****** View Settings ******/
.welcomeScreen {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr; }
  .welcomeScreen #welcomeBoo {
    background-color: #6A8455;
    height: 50vh; }
    .welcomeScreen #welcomeBoo #booImg {
      display: block;
      max-height: 80%;
      width: auto; }
  .welcomeScreen #welcomeSignIn {
    background-color: #634b42;
    height: 50vh; }

.welcomeScreen div h3 {
  font-size: 5vh; }

.welcomeView input[type="text"] {
  max-height: 32px;
  font-size: 20px;
  line-height: 24px; }

.pageWrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 93%;
  grid-template-areas: "nav" "mainView"; }
  .pageWrapper nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: minmax(40px, 10%) 80% minmax(40px, 10%);
    /****** The navbars ******/ }
    .pageWrapper nav .profileNav {
      background-color: #222;
      cursor: pointer;
      grid-column: 1; }
    .pageWrapper nav .testNav {
      grid-column: 2;
      background-color: #7F9A65; }
      .pageWrapper nav .testNav a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #eee; }
    .pageWrapper nav .adibooNav {
      background-color: #222;
      cursor: pointer;
      grid-column: 3; }

/* Global main views settings */
.mainView {
  grid-area: mainView;
  width: 100%;
  background: linear-gradient(-45deg, #ce8e8e, #ccce8e, #9cce8e, #8eceae, #8ebece, #8e8ece, #be8ece, #ce8eae);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  display: grid;
  grid-template: 5% 85% 10%/minmax(40px, 10%) 80% minmax(40px, 10%); }
  .mainView .viewGap {
    grid-area: 1 / 1 / auto/ span 3;
    text-align: center;
    color: red;
    background-color: #eee;
    opacity: 0.6; }
  .mainView .leftContent {
    grid-area: 2 / 1 / span 2 / auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr); }
  .mainView .contentBox {
    grid-area: 2 / 2 / span 2 / auto; }
  .mainView .rightContent {
    grid-area: 2 / 1 / span 2 / auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr); }

/* changing colors background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/* navbar icons */
.navIcons {
  width: 36px; }

.homeOptions {
  display: grid;
  grid-template: minmax(80px, 1fr) minmax(80px, 1fr)/minmax(80px, 1fr) minmax(80px, 1fr); }
  .homeOptions .homepage-button-container {
    position: relative;
    display: inline-block;
    width: 88%;
    height: 40vh;
    perspective: 300px;
    font-size: 24px;
    margin: auto; }
    .homeOptions .homepage-button-container .homeOptionsButtons {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0px;
      transform-style: preserve-3d;
      transition: all 0.333s;
      color: #eee;
      background-color: #222;
      transform: translateZ(-20vh);
      /*			margin: auto;*/ }
      .homeOptions .homepage-button-container .homeOptionsButtons .front {
        background: #222; }
      .homeOptions .homepage-button-container .homeOptionsButtons .bottom {
        background: #151515; }
      .homeOptions .homepage-button-container .homeOptionsButtons:hover .bottom {
        background: #222; }
      .homeOptions .homepage-button-container .homeOptionsButtons:hover .front {
        background: #2f2f2f; }
      .homeOptions .homepage-button-container .homeOptionsButtons .front, .homeOptions .homepage-button-container .homeOptionsButtons .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%; }
      .homeOptions .homepage-button-container .homeOptionsButtons .front {
        transform: translateZ(19.9vh); }
      .homeOptions .homepage-button-container .homeOptionsButtons .bottom {
        transform: rotateX(-90deg) translateZ(20vh); }
      .homeOptions .homepage-button-container .homeOptionsButtons:hover {
        transform: translateZ(-20vh) rotateX(90deg); }

/* Profile views */
.profileView {
  display: grid;
  grid-template-columns: 10% 20% 70%;
  overflow: hidden;
  /* profile Card */
  /* left history and note's content */ }
  .profileView .profileCard {
    display: grid;
    grid-auto-rows: 60% 40%; }
    .profileView .profileCard .card {
      height: 100%;
      width: 100%;
      border-radius: 0px;
      color: #fff;
      background-color: #7F9A65;
      border-width: 0px;
      border-color: #999;
      display: grid;
      grid-template-rows: 65% 1fr 1fr;
      align-items: end;
      /* hide the See Profile button in Overview */ }
      .profileView .profileCard .card .profileImgDiv {
        width: 100%;
        height: 95%; }
        .profileView .profileCard .card .profileImgDiv .profileImg {
          width: 85%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          border-top-left-radius: calc(0.25rem - 1px);
          border-top-right-radius: calc(0.25rem - 1px); }
      .profileView .profileCard .card .card-body {
        padding: 0; }
      .profileView .profileCard .card .updateAvatarBtn {
        text-decoration: none;
        height: 80%;
        width: 100%;
        border-radius: 0px;
        color: #fff;
        background-color: #634b42; }
      .profileView .profileCard .card #hiddenUpdateAvatar {
        visibility: hidden; }
    .profileView .profileCard .profileEditSaveBtn #profileEditBtn {
      width: 100%;
      height: 100%;
      border-width: 0px;
      border-radius: 0px;
      position: relative;
      color: #eee;
      background-color: #222;
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); }
      .profileView .profileCard .profileEditSaveBtn #profileEditBtn:hover {
        transform: scale(1.04);
        color: #000;
        background-color: #BDA0CB; }
    .profileView .profileCard .profileEditSaveBtn #profileSaveButton {
      width: 100%;
      height: 100%;
      border-width: 0px;
      border-radius: 0px;
      position: relative;
      color: #eee;
      background-color: #222;
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); }
      .profileView .profileCard .profileEditSaveBtn #profileSaveButton:hover {
        transform: scale(1.04);
        color: #000;
        background-color: #DFAE74; }
  .profileView .jumbotron {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    color: #eee;
    background-color: #6A8455; }
  .profileView .historyMonth, .profileView .noteList {
    background-color: #333;
    overflow: scroll; }

.leftContent .profile-button, .leftContent .setting-button, .leftContent .history-button, .leftContent .note-button {
  width: 100%;
  height: 100%;
  border-width: 0px;
  border-radius: 0px;
  position: relative;
  color: #eee;
  background-color: #222;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); }
  .leftContent .profile-button:hover, .leftContent .setting-button:hover, .leftContent .history-button:hover, .leftContent .note-button:hover {
    color: #000;
    background-color: #7F9A65; }

/* test views */
.testView {
  display: grid;
  grid-auto-rows: 90% 10%; }
  .testView .jumbotron {
    color: #eee;
    height: 100%;
    width: 100%;
    background-color: #333; }
  .testView .testViewFooter {
    display: flex;
    justify-content: center;
    align-items: center; }

.testOptions {
  display: grid;
  grid-template: minmax(80px, 1fr) minmax(80px, 1fr)/minmax(80px, 1fr) minmax(80px, 1fr); }
  .testOptions .testOptionsButtons {
    color: #eee;
    background-color: #222;
    width: 88%;
    height: 40vh;
    border-radius: 0px;
    margin: auto;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); }
    .testOptions .testOptionsButtons:hover {
      background-color: #6A8455; }
    .testOptions .testOptionsButtons a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #eee; }

/* pagination */
.pagination li a {
  border: 1px solid #222;
  background-color: #222;
  color: #eee; }
.pagination li:not(.active) a:hover {
  color: #000;
  border: 1px solid #ddd;
  background: #ddd; }
.pagination li.active a {
  color: #000 !important;
  border: 1px solid #222 !important;
  background: transparent !important; }
.pagination li.disabled a {
  color: #000 !important;
  border: 1px solid #222 !important;
  background: transparent !important; }

.carousel-inner img {
  margin: auto;
  width: 100%;
  height: 80%; }

.carousel-control-prev {
  width: 4%; }

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center; }

/****** Font Styles ******/
.navFont {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif; }

/*# sourceMappingURL=style.css.map */
