
body {
  color: #ffffff;
  height: 50vh;
}

#welcome {
	width: 100%;
	height: 100%;
}

#welcome #boo {
  background-color: #1abc9c;
  width: 100%;
  height: 50%;
}
#welcome #user_name {
  background-color: #474e5d;
  width: 100%;
  height: 100%;
}

#test, #testBox {
	width: 100%;
	height: 600px;
	background-color: #474e5d;
}

.nav-justified li a {
	color: #ffffff;
	font-size: 52px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	height: 100px;
}

.carousel-inner img {
	margin: auto;
	width: 100%;
	height: 80%;
  }