.pageWrapper {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 7% 93%;
	grid-template-areas: "nav" "mainView";

	nav {
		grid-area: nav;
		height: 100%;
		display: grid;
		grid-template-columns: minmax(40px, 10%) 80% minmax(40px, 10%);
		/****** The navbars ******/
		.profileNav {
			@extend %centeredContent;
			background-color: $darker-grey;
			grid-column: 1;
		}
		.testNav {
			@extend %centeredContent;
			grid-column: 2;
			background-color: $kiwi;
			color: $off-white1;
			text-decoration: none;
		}
		.adibooNav {
			@extend %centeredContent;
			background-color: $darker-grey;
			grid-column: 3;
		}
	}
}

/* Global main views settings */

.mainView {
	grid-area: mainView;
	width: 100%;
	background: linear-gradient(-45deg, #ce8e8e, #ccce8e, #9cce8e, #8eceae, #8ebece, #8e8ece, #be8ece, #ce8eae);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	display: grid;
	grid-template: 4% 95% 1% / minmax(40px, 10%) 80% minmax(40px, 10%);
	.viewGap {
		grid-area: 1 / 1 / auto/ span 3;
		text-align: center;
		color: red;
		background-color: $off-white1;
		opacity: 0.5;
	}
	.leftContent {
		height: 100%;
		grid-area: 2 / 1;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
	}
	.contentBox {
		grid-area: 2 / 2;
	}
	.lobbyBox {
		grid-area: 2 / 2 / span 2 / auto;
	}
	.rightContent {
		grid-area: 2 / 1 / span 2 / auto;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
	}
	.footerContent {
		grid-area: 3 / 2;
		@extend %centeredContent;
	}
}

/* changing colors background */
@-webkit-keyframes Gradient {
	@include gradient;
}

@-moz-keyframes Gradient {
	@include gradient;
}

@keyframes Gradient {
	@include gradient;
}

/* navbar icons */
.navIcons {
	width: 36px;
}