/* Profile views */

.profileView {
	display: grid;
	grid-template-columns: 10% 20% 70%;
	overflow: hidden;
	/* profile Card */
	.profileCard {
		display: grid;
		grid-auto-rows: 60% 40%;
		.card {
			@include rectangle-button($white, $kiwi);
			border-width: 0px;
			border-color: $light-grey;
			display: grid;
			grid-template-rows: 65% 1fr 1fr;
			align-items: end;
			.profileImgDiv {
				width: 100%;
				height: 95%;
				.profileImg {
					width: 85%;
					margin-left: auto;
					margin-right: auto;
					display: block;
					border-top-left-radius: calc(0.25rem - 1px);
					border-top-right-radius: calc(0.25rem - 1px);
				}
			}
			.card-body {
				padding: 0;
			}
			.updateAvatarBtn {
				text-decoration: none;
				@include rectangle-button($white, $dark-tan, 80%);
			}
			/* hide the See Profile button in Overview */
			#hiddenUpdateAvatar {
				visibility: hidden;
			}
		}

		.profileEditSaveBtn {
			#profileEditBtn {
				@include hover-grow-affecting-button($off-white1,
				 $darker-grey, $black, $edit-hover-color, 1.04);
			}
			#profileSaveButton {
				@include hover-grow-affecting-button($off-white1,
				 $darker-grey, $black, $save-hover-color, 1.04);
			}
		}
	}

	.jumbotron {
		@include rectangle-button($off-white1, $green-hornet);
	}

	/* left history and note's content */
	.historyMonth, .noteList {
		background-color: $dark-grey;
		overflow: scroll;
	}
}

.leftContent {
	.profile-button, .setting-button, .history-button, .note-button {
		@include hover-affecting-button($off-white1,
				 $darker-grey, $black, $kiwi);
	}
}