/* Profile views */

.profileView {
	display: grid;
	grid-template-columns: 10% 20% 70%;
	overflow: hidden;
	/* profile Card */
	.profileCard {
		display: grid;
		grid-auto-rows: 60% 40%;
		.card {
			width: 100%;
			border-radius: 0px;
			border-width: 0.05px;
			border-color: $light-grey;
			display: grid;
			grid-template-rows: 65% 1fr 1fr;
			align-items: end;
			color: $off-white1;
			background-color: $kiwi;
			a {
				text-decoration: none;
				color: $off-white1;
			}
			.profileImgDiv {
				width: 100%;
				height: 95%;
				.profileImg {
					width: 85%;
					margin-left: auto;
					margin-right: auto;
					display: block;
					border-top-left-radius: calc(0.25rem - 1px);
					border-top-right-radius: calc(0.25rem - 1px);
				}
			}
			.card-body {
				padding: 0;
			}
			.updateAvatarBtn {
				background-color: $dark-tan;
				width: 100%;
				height: 80%;
				border-radius: 0px;
			}
			/* hide the See Profile button in Overview */
			#hiddenUpdateAvatar {
				visibility: hidden;
			}
		}

		.profileEditSaveBtn {
			.triggerButton {


			}
			#profileEditBtn {
				width: 100%;
				height: 100%;
				border-radius: 0px;
				color: $off-white1;
				background-color: $darker-grey;
				border-width: 0px;
				cursor: pointer;
				transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
				&:hover {
					color: #000;
					background-color: $edit-hover-color;
				};
			}
			#profileSaveButton {
				width: 100%;
				height: 100%;
				border-radius: 0px;
				color: $off-white1;
				background-color: $darker-grey;
				border-width: 0px;
				cursor: pointer;
				transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
				&:hover {
					color: #000;
					background-color: $save-hover-color;
				};
			}
		}
	}

	.jumbotron {
		height: 100%;
		width: 100%;
		color: $off-white1;
		background-color: $kiwi;
		border-radius: 0px;
	}

	/* left history and note's content */
	.historyMonth, .noteList {
		background-color: $dark-grey;
		overflow: scroll;
	}
}

.leftContent {
	.profile-button, .setting-button, .history-button, .note-button {
		color: $off-white1;
		background-color: $darker-grey;
		font-size: 70%;
		cursor: pointer;
		display: block;
		position: relative;
		border-radius: 0px;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		&:hover {
			color: #000 !important;
			background-color: #7F9A65;
		}
	}
}