/* test views */

.testView {
	display: grid;
	grid-auto-rows: 90% 10%;
	.jumbotron {
		color: $off-white1;
		height: 100%;
		width: 100%;
		background-color: $dark-grey;
	}
	.testViewFooter {
		@include centered-content;
	}
}

.testOptions {
	display: grid;
	grid-template: minmax(80px, 1fr) (minmax(80px, 1fr) / minmax(80px, 1fr)) minmax(80px, 1fr);
	.testOptionsButtons {
		color: $off-white1;
		background-color: $darker-grey;
		width: 88%;
		height: 40vh;
		border-radius: 0px;
		margin: auto;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		&:hover {
			background-color: $green-hornet;
		}
		a {
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			display: flex;
			font-size: 20px;
			color: $off-white1;
		}
	}
}

/* pagination */
.pagination {
	li {
		a {
			border: 1px solid $darker-grey;
			background-color: $darker-grey;
			color: $off-white1;
		}
	}
	li:not(.active) {
		a:hover {
			color: #000;
			border: 1px solid #ddd;
			background: #ddd;
		}
	}
	li.active {
		a {
			color: #000 !important;
			border: 1px solid $darker-grey !important;
			background: transparent !important;
		}
	}
	li.disabled {
		a {
			color: #000 !important;
			border: 1px solid $darker-grey !important;
			background: transparent !important;
		}
	}
}