/* test views */


.leftContent {
	.back_button {
		@include hover-affecting-button($white, $dark-grey, $black, $light-grey);
	}
}

.lobbyBox {
	display: grid;
	grid-auto-rows: 90% 10%;
	.jumbotron {
		color: $off-white1;
		height: 100%;
		width: 100%;
		background-color: $dark-grey;
	}
	.testViewFooter {
		@extend %centeredContent;
	}
}

.testOptions {
	display: grid;
	grid-template: minmax(80px, 1fr) (minmax(80px, 1fr) / minmax(80px, 1fr)) minmax(80px, 1fr);
	.testOptionsButtons {
		color: $off-white1;
		background-color: $darker-grey;
		width: 92%;
		height: 40vh;
		border-radius: 0px;
		margin: auto;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		&:hover {
			background-color: $green-hornet;
		}
		a {
			width: 100%;
			height: 100%;
			@extend %centeredContent;
			font-size: 20px;
			color: $off-white1;
		}
	}
}

/* pagination */
.pagination {
	li {
		a {
			border: 1px solid $darker-grey;
			background-color: $darker-grey;
			color: $off-white1;
		}
	}
	li:not(.active) {
		a:hover {
			color: $black;
			border: 1px solid $lighter-grey;
			background: $lighter-grey;
		}
	}
	li.active {
		a {
			@include transparent-button;
		}
	}
	li.disabled {
		a {
			@include transparent-button;
		}
	}
}