/*** variables ***/
/* colors */
$off-white1: #eee;
$off-white2: #e6e6e6;
$dark-grey: #333;
$darker-grey: #222;
$light-grey: #999;
$lighter-grey: #ddd;
$kiwi: #7F9A65;
$green-hornet: #6A8455;
$dark-tan: #634b42;
$black : #000;
$white : #fff;

$edit-hover-color: #BDA0CB;
$edit-unhover-color: #BF5FFF;
$save-hover-color: #DFAE74;
$card-border-color: rgba($black, .125);

$error: #FF7B7B;

/*$edit-hover-button: $off-white1, $darker-grey, $black, $edit-hover-color;*/
/* width */
/*$border-width : 1px;*/


/*** mixins ***/
@mixin centered-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin ellipsis($maxWidth, $lineHeight, $maxHeight, $maxLine) {
	width: 100%;
	max-width: $maxWidth;
	padding: 0 10% 0 10%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: $lineHeight;
	/* fallback */
	max-height: $maxHeight;
	/* fallback */
	-webkit-line-clamp: $maxLine;
	/* number of lines to show */
	-webkit-box-orient: vertical;
}

@mixin transition-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color) {
	width: 100%;
	height: 100%;
	border-width: 0px;
	border-radius: 0px;
	position: relative;
	color: $original-color;
	background-color: $original-background-color;	
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

@mixin hover-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color) {
	@include transition-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color);
	&:hover {
		color: $hover-color;
		background-color: $hover-background-color;
	};
}

@mixin hover-grow-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color, $transform-time) {
	@include transition-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color);
	&:hover {
		transform: scale($transform-time);
		color: $hover-color;
		background-color: $hover-background-color;
	};
}

@mixin transparent-button {
	color: $black !important;
	border: 1px solid $darker-grey !important;
	background: transparent !important;
}

@mixin rectangle-button($font-color, $bg-color, $box-height: 100%) {
	height: $box-height;
	width: 100%;
	border-radius: 0px;
	color: $font-color;
	background-color: $bg-color;
}

@mixin gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}