.welcomeScreen {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr;
	#welcomeBoo {
		background-color: $green-hornet;
		height: 50vh;
	}
	#welcomeSignIn {
		background-color: $dark-tan;
		height: 50vh;
	}
}

.welcomeScreen div h3 {
	font-size: 5vh;
}

.welcomeView input[type="text"] {
	max-height: 32px;
	font-size: 20px;
	line-height: 24px;
}

#booImg {
	display: block;
	max-height: 80%;
	width: auto;
}