/****** Colors ******/

.greenBg {
  background-color: #167a3e;
}

.tealBg {
  background-color: #0b9178;
}

.lightGreyBg {
  background-color: #474e5d;
}

.darkGreyBg {
  background-color: #242527;
}

.purpleBg {
  background-color: #652984;
}

.orangeBg {
  background-color: #b75409;
}