.pageWrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 93%;
  grid-template-areas: "nav" "mainView";
}

/* Global main views settings */

.mainView {
  grid-area: mainView;
  width: 100%;
  /*	background-image: url("https://i.ytimg.com/vi/pMsz9fcOyGY/maxresdefault.jpg");
  
  	background-size: cover;*/
  background: linear-gradient(-45deg, #3c4752, #694156, #85704c, #887b75);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  display: grid;
  grid-template: 5% 85% (10% / minmax(40px, 10%)) 80% minmax(40px, 10%);
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.viewGap {
  grid-area: 1 / 1 / auto/ span 3;
  text-align: center;
  color: red;
  background-color: yellow;
  opacity: 0.6;
}

.leftContent {
  grid-area: 2 / 1 / span 2 / auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.contentBox {
  grid-area: 2 / 2 / span 2 / auto;
}

.rightContent {
  grid-area: 2 / 1 / span 2 / auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

/****** The navbars ******/

.pageWrapper nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: minmax(40px, 10%) 80% minmax(40px, 10%);
}

.profileNav {
  grid-column: 1;
}

.testNav {
  grid-column: 2;
  a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
}

.adibooNav {
  grid-column: 3;
}