@import "variables";
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	color: #fff;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', monospace;
} 
/****** View Settings ******/
@import "welcome-view";
@import "global-view";
@import "homepage-view";
@import "profile-view";
@import "test-view";
@import "adiboo-view";

.centeredContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

/****** Font Styles ******/

.navFont {
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
}