/*** mixins ***/

@mixin ellipsis($maxWidth, $lineHeight, $maxHeight, $maxLine) {
	width: 100%;
	max-width: $maxWidth;
	padding: 0 10% 0 10%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: $lineHeight;
	/* fallback */
	max-height: $maxHeight;
	/* fallback */
	-webkit-line-clamp: $maxLine;
	/* number of lines to show */
	-webkit-box-orient: vertical;
}

@mixin transition-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color) {
	width: 100%;
	height: 100%;
	border-width: 0px;
	border-radius: 0px;
	position: relative;
	color: $original-color;
	background-color: $original-background-color;	
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

@mixin hover-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color) {
	@include transition-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color);
	&:hover {
		color: $hover-color;
		background-color: $hover-background-color;
	};
}

@mixin hover-grow-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color, $transform-time) {
	@include transition-affecting-button($original-color, $original-background-color, $hover-color, $hover-background-color);
	&:hover {
		transform: scale($transform-time);
		color: $hover-color;
		background-color: $hover-background-color;
	};
}

@mixin hover-3d-button {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	transform-style: preserve-3d;
	transition: all 0.333s;
	.front {
		background: $darker-grey;
	}
	.bottom {
		background: darken($darker-grey, 5%);
	}
	&:hover {
		.bottom {
			background: $kiwi;
		}
		.front {
			background: lighten($darker-grey, 5%);
		}
	};
}

@mixin transparent-button {
	color: $black !important;
	border: 1px solid $darker-grey !important;
	background: transparent !important;
}

@mixin rectangle-button($font-color, $bg-color, $box-height: 100%) {
	height: $box-height;
	width: 100%;
	border-radius: 0px;
	color: $font-color;
	background-color: $bg-color;
}

@mixin gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}